.container {
    text-align: center;
}
.image {
    width: 80%; /* Ancho de la imagen grande */
    max-width: 600px; /* Ancho máximo */
    margin: 20px auto; /* Margen superior e inferior automático */
}
.small-image {
    width: 50px; /* Ancho de las imágenes pequeñas */
    margin: 10px; /* Margen entre las imágenes pequeñas */
}
.button {
    margin: 10px; /* Margen entre los botones */
    padding: 10px 20px; /* Espacio interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambio de cursor al pasar por encima */
}
.white{background-color: white; color: black; }
.red { background-color: red; color: white; }
.green { background-color: green; color: white; }
.blue { background-color: blue; color: white; }
.black { background-color: black; color: white; } /* Texto en blanco para botón negro */