<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  th:href="@{/css/boxter.css}">
    <title>Boxter</title>
</head>
<body>

    <div class="card">
        <img  th:src="@{/images/Basebox.jpg}" alt="Foto 2">
        <h2>BOXTER</h2>
    </div>
<div>
    <h2>COLORES</h2>
    <button id="blanco"> Blanco</button>
    <button id="azul"> Azul</button>
    <button id="negro"> Negro</button>
    <button id="rojo"> Rojo</button>
    <button id="verde"> Verde</button>

</div>
<div>
    <h2>LLANTAS</h2>
    <button id="basico"> Basica</button>
    <button id="lux"> Lux</button>
</div>

</body>
</html>