<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  th:href="@{/css/cayman.css}">
    <title>Boxter</title>
</head>
<body>

<div class="card">
    <img  th:src="@{/images/BaseCay.jpg}" alt="Foto 3">
    <h2>CAYMAN</h2>
</div>
<div>
    <h2>COLORES</h2>
    <button id="blanco"> Blanco</button>
    <button id="azul"> Azul</button>
    <button id="negro"> Negro</button>
    <button id="rojo"> Rojo</button>
    <button id="verde"> Verde</button>

</div>
<div>
    <h2>LLANTAS</h2>
    <button id="basico"> Basica</button>
    <button id="lux"> Lux</button>
</div>

</body>
</html>