<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cayman Style</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/infocoches.css}">-->
    <link rel="stylesheet" th:href="@{css/boxster.css}">
</head>
<body>
<div class="container" >
    <div class="card" id="box">

        <h2 id="modelo">CAYMAN STYLE</h2>
        <img id="myImage" th:src="@{/img/BaseCayStyle.jpg}" alt="Boxster" class="image">
    </div>
    <div class="card" id="col">
        <h2>COLORES</h2>
        <button id="blanco" class="button white" onclick="changeImage('white')">White</button>
        <button id="rojo" class="button red" onclick="changeImage('red')">Rojo</button>
        <button id="verde" class="button green" onclick="changeImage('green')">Verde</button>
        <button id="azul" class="button blue" onclick="changeImage('blue')">Azul</button>
        <button id="negro" class="button black" onclick="changeImage('black')">Negro</button>
    </div>
    <div class="card" id="rin">
        <h2>LLANTAS</h2>
        <div id="rin-normal" class="small-image" onclick="changeImage('rin-normal')">Rin Basico</div>
        <div id="rin-lujo" class="small-image" onclick="changeImage('rin-lujo')">Rin de Lux</div>
    </div>
</div>
<div>
    <p>Precio Base = 84200.00</p>
    <p id="precioColor">Precio Color = 0.00</p>
    <p id="precioLlanta">Precio Rin = 0.00</p>
    <p id="sumaTotal">Precio Total = 0.00</p>
</div>
<div id="informacion"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/infocochescayman.js}"></script>
</body>
</html>
