<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  th:href="@{/css/coches.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coches Porsche</title>
</head>
<body>
<div class="container">

    <div class="card">
        <img id="caybas" th:src="@{/images/caymanblanco.webp}" alt="Foto 1">
        <h2>Cayman basico</h2>
    </div>

    <div id="caystybas" class="card">
        <img th:src="@{/images/caystyverde.jfif}" alt="Foto 3">
        <h2>Cayman lux blanco</h2>
    </div>

    <div class="card">
        <img id="caybasll" th:src="@{/images/boxstyazul.jfif}" alt="Foto 2">
        <h2>Cayman basico Llantas</h2>
    </div>
    <div class="card">
        <img id="caystybasll" th:src="@{/images/boxstyrojo.jfif}" alt="Foto 4">
        <h2>Cayman Lux blanco llantas</h2>
    </div>
</div>
</body>
</html>

