<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coches Porsche</title>
</head>
<body>
<div class="container">
    <div class="card">
        <img src="/static/img/Basebox.jpg" alt="Foto 1">
        <h2>Persona 1</h2>
    </div>
    <div class="card">
        <img src="/static/img/BaseCay.jpg" alt="Foto 2">
        <h2>Persona 2</h2>
    </div>
    <div class="card">
        <img src="/static/img/BaseCayStyle.jpg" alt="Foto 3">
        <h2>Persona 3</h2>
    </div>
    <div class="card">
        <img src="/static/img/BaseBoxStyle.jpg" alt="Foto 4">
        <h2>Persona 4</h2>
    </div>
    <img src="/static/img/Basebox.jpg" alt="base" >
    <img src="/static/img/pokemonn.png" alt="">
    <img src="/static/img/pokemonn.png" alt="">
</div>
</body>
</html>
