<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  th:href="@{/css/coches.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coches Porsche</title>
</head>
<body>
<div class="container">

    <div class="card">
        <img id="caybas" th:src="@{/images/BaseCay.jpg}" alt="Foto 1">
        <h2>Cayman basico</h2>
    </div>

    <div id="caystybas" class="card">
        <img th:src="@{/images/BaseCayStyle.jpg}" alt="Foto 3">
        <h2>Cayman style</h2>
    </div>

    <div class="card">
        <img id="caybasll" th:src="@{/images/Basebox.jpg}" alt="Foto 2">
        <h2>Boxter basico</h2>
    </div>
    <div class="card">
        <img id="caystybasll" th:src="@{/images/BaseBoxStyle.jpg}" alt="Foto 4">
        <h2>boxter style</h2>
    </div>
</div>
</body>
</html>

