<!DOCTYPE html>
<link rel="stylesheet"  th:href="@{/css/login.css}">
<head>
    <title>Login</title>
</head>
<body>
<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <div class="error-message" th:if="${param.error}">
        Usuario o Contraseña incorrectos.
    </div>
    <div class="error-message" th:if="${param.logout}">
        Te has desconectado exitosamente.
    </div>
    <form th:action="@{/login}" method="post">
        <div><input type="text" name="username" placeholder="Usuario" /></div>
        <div><input type="password" name="password" placeholder="Contraseña" /></div>
        <div><input type="submit" value="Iniciar Sesión" /></div>
    </form>
</div>
</body>
</html>